@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-font-sans-serif: 'Montserrat', sans-serif;
}

body {
    font-family: var(--bs-font-sans-serif);
}

h1,h2, h3, h4, h5, h6 {
	font-family:var(--bs-font-sans-serif);
	font-weight:700;
	line-height:1.1em;
	margin-bottom: 20px;
}

.logo-img {
	max-height: 8rem;
	margin-left: 7rem;
}


.color-text {
	color: #4c0f7e;
  }

.color-text:hover {
	color: #c70039;
}

.image {
	position:absolute;
	top: -5%; 
	left: 2%;
	max-height: 150px;
}

.feature_grid1 .fa {
	color: #083699ba;
	border: 3px solid #083699ba;
	border-radius: 70%;
	width: 2em;
	height: 2em;
	background: rgb(255, 255, 255);
	padding-top: 22px;
}

.feature_grid2 .fa {
	color: #081e4ff5;
	border: 3px solid #081e4ff5;
	border-radius: 70%;
	width: 2em;
	height: 2em;
	background: rgb(255, 255, 255);
	padding-top: 22px;
}

.content_white {
	text-align: center;
	padding: 1em 0;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


.navbar {
    transition: all 3s ease;
}

.navbar.scrolled {
    height: 50px; /* Ajuste o valor conforme necessário */
}

.navbar.scrolled .logo-img {
    display: none;
}


/* Botão Leia Mais */

.abc {
	--color: #0c5ec9;
	font-family: inherit;
	display: inline-block;
	width: 8em;
	height: 2.6em;
	line-height: 2.4em;
	margin: 20px;
	position: relative;
	overflow: hidden;
	border: 2px solid var(--color);
	transition: color .5s;
	z-index: 1;
	font-size: 17px;
	border-radius: 6px;
	font-weight: 500;
	color: var(--color);
	text-decoration: none;
	text-align: center;
   }
   
.abc:before {
	content: "";
	position: absolute;
	z-index: -1;
	background: var(--color);
	height: 150px;
	width: 200px;
	border-radius: 50%;
}
   
.abc:hover {
	color: #fff;
	text-decoration: none;
}
   
.abc:before {
	top: 100%;
	left: 100%;
	transition: all .7s;
}
   
.abc:hover:before {
	top: -30px;
	left: -30px;
}
   
.abc:active:before {
	background: #0c5ec9;
	transition: background 0s;
}
.abc:link, .abc:visited, .abs:hover, .abc:active {
	text-decoration: none;
}
  /* Fim do botão */



/* Rede Social */
.redeSocial{
	max-height: 100px;
	color: #444343;
	text-decoration: none;
}

.redeSocial:hover{
	max-height: 100px;
	color: #ffffff;
	text-decoration: none;
}

.wrapper {
	display: inline-flex;
	list-style: none;
	height: 120px;
	width: 100%;
	padding-top: 40px;
	font-family: "Poppins", sans-serif;
	justify-content: center;
  }
  
.wrapper .icon {
position: relative;
background: #c0c0c0;
border-radius: 50%;
margin: 10px;
width: 50px;
height: 50px;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip {
position: absolute;
top: 0;
font-size: 14px;
background: #fff;
color: #fff;
padding: 5px 8px;
border-radius: 5px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
position: absolute;
content: "";
height: 8px;
width: 8px;
background: #fff;
bottom: -3px;
left: 50%;
transform: translate(-50%) rotate(45deg);
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
top: -45px;
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
background: #1877f2;
color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
background: #1da1f2;
color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
background: #e4405f;
color: #fff;
}


/* .bg_blue {
	background-color: #1da1f2;
	padding-top: 3rem !important;
    padding-bottom: 3rem !important;
	justify-content: center;
} */

.text_center {
	justify-content: center;
}