@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--bs-font-sans-serif: 'Montserrat', sans-serif;
}

body {
	font-family: var(--bs-font-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--bs-font-sans-serif);
	font-weight: 700;
	line-height: 1.1em;
	margin-bottom: 20px;
}

@media (min-width: 992px) {
	.rounded-lg-3 {
		border-radius: .3rem;
	}
}


.logo-img {
	max-height: 8rem;
	margin-left: 7rem;
}

.img-slider {
	height: 35rem;
}



.div-blog {
	max-width: 8%;
}

.blog-button {
	margin-left: 2rem;
	text-decoration: none;
	color: #ffffff;
	max-width: 10%;


}

.blog-button:hover {
	color: #80bfe4;
	transition: color 0.7s ease;


}

.div-service {
	max-width: 50%;
}

.service-button {
	margin-left: 2rem;
	text-decoration: none;
	color: #ffffff;
	max-width: 7%;


}

.service-button:hover {
	color: #80bfe4;
	transition: color 0.7s ease;


}

.bg-blue-service {
	position: relative;
	background-color: #18618f;
	width: 20rem;
	height: 3rem;
	border-radius: 2rem 2rem 2rem 2rem;
	margin-left: -1.5rem;
	margin-top: -3.7rem;
	z-index: -1;
}

.bg-blue-service:hover {
	background-color: #80bfe4;
}

.bg-blue {
	position: relative;
	background-color: #18618f;
	width: 20rem;
	height: 3rem;
	border-radius: 0 2rem 2rem 0;
	margin-left: -12rem;
	margin-top: -3.7rem;
	z-index: -1;
}


.color-text {
	color: #4c0f7e;
}

.color-text:hover {
	color: #c70039;
}

.image {
	position: absolute;
	top: -5%;
	left: 2%;
	max-height: 150px;
}

.feature_grid1 .fa {
	color: #083699ba;
	border: 3px solid #083699ba;
	border-radius: 70%;
	width: 2em;
	height: 2em;
	background: rgb(255, 255, 255);
	padding-top: 22px;
}

.feature_grid2 .fa {
	color: #081e4ff5;
	border: 3px solid #081e4ff5;
	border-radius: 70%;
	width: 2em;
	height: 2em;
	background: rgb(255, 255, 255);
	padding-top: 22px;
}

#icon {
	font-size: 2rem;
	margin-right: 5%;
}

.content_white {
	text-align: center;
	padding: 1em 0;
}

.logo {
	font-size: 2.5rem;
	color: var(--text-color);
	font-weight: 600;
	cursor: default;
}

#menu-icon {
	font-size: 3.6rem;
	color: var(--text-color);
	display: none;
}

.navbar {
	max-height: 10rem;
	transition: max-height 0.7s ease;
}

.navbar.scrolled {
	/* Ajuste o valor conforme necessário */
	margin-top: -0.3em;
	/* Remover margem ao rolar */
	transition: margin-top 0.7s ease;

}

.navbar.scrolled .logo-img {
	margin-top: -10rem;
	transition: margin-top 0.7s ease;

}


.navbar-nav {
	margin-top: 5rem;
	/* Ajuste o valor conforme necessário */
}

.navbar-nav.scrolled {
	margin-top: 0;
	/* Remover margem ao rolar */
	transition: margin-top 0.7s ease;
}

/* Botão Leia Mais */

.abc {
	--color: #0c5ec9;
	font-family: inherit;
	display: inline-block;
	width: 8em;
	height: 2.6em;
	line-height: 2.4em;
	margin: 20px;
	position: relative;
	overflow: hidden;
	border: 2px solid var(--color);
	transition: color .5s;
	z-index: 1;
	font-size: 17px;
	border-radius: 6px;
	font-weight: 500;
	color: var(--color);
	text-decoration: none;
	text-align: center;
}

.abc:before {
	content: "";
	position: absolute;
	z-index: -1;
	background: var(--color);
	height: 150px;
	width: 200px;
	border-radius: 50%;
}

.abc:hover {
	color: #fff;
	text-decoration: none;
}

.abc:before {
	top: 100%;
	left: 100%;
	transition: all .7s;
}

.abc:hover:before {
	top: -30px;
	left: -30px;
}

.abc:active:before {
	background: #0c5ec9;
	transition: background 0s;
}

.abc:link,
.abc:visited,
.abs:hover,
.abc:active {
	text-decoration: none;
}

/* Fim do botão */


/* BOTÃO NOSSOS SERVIÇOS PÁGINA PRINCIPAL */

.button-style {
	padding: 1.2% 2%;
	border: unset;
	border-radius: 15px;
	color: #212121;
	z-index: 1;
	background: #e8e8e8;
	position: relative;
	font-weight: 1000;
	font-size: 25px;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms;
	overflow: hidden;
}

.button-style::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background-color: #212121;
	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms
}

.button-style:hover {
	color: #e8e8e8;
}

.button-style:hover::before {
	width: 100%;
}



.button-novo {
	padding: 15px 25px;
	border: unset;
	border-radius: 15px;
	color: #ffffff;
	z-index: 1;
	background: #0d6efd;
	position: relative;
	font-weight: 1000;
	font-size: 22px;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms;
	overflow: hidden;
}

.button-novo::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background-color: #063273;
	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms
}

.button-novo:hover {
	color: #e8e8e8;
}

.button-novo:hover::before {
	width: 100%;
}



/* Rede Social */
.redeSocial {
	max-height: 100px;
	color: #444343;
	text-decoration: none;
}

.redeSocial:hover {
	max-height: 100px;
	color: #ffffff;
	text-decoration: none;
}

.wrapper {
	display: inline-flex;
	list-style: none;
	height: 120px;
	width: 100%;
	padding-top: 40px;
	font-family: "Poppins", sans-serif;
	justify-content: center;
}

.wrapper .icon {
	position: relative;
	background: #c0c0c0;
	border-radius: 50%;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
	position: absolute;
	top: 0;
	font-size: 14px;
	background: #fff;
	color: #fff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	background: #fff;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
	background: #1877f2;
	color: #fff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
	background: #098131;
	color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
	background: #1da1f2;
	color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
	background: #e4405f;
	color: #fff;
}

/* FIM REDE SOCIAL */


/* .bg_blue {
	background-color: #1da1f2;
	padding-top: 3rem !important;
    padding-bottom: 3rem !important;
	justify-content: center;
} */

.text_center {
	justify-content: center;
}


/* TEXTOS EM BLOCOS SERVIÇOS */

.info-blocks {
	margin-bottom: 15px;
}

.info-blocks i.icon-info-blocks {
	float: left;
	color: #777;
	font-size: 30px;
	min-width: 50px;
	margin-top: 10px;
	text-align: center;
}

.info-blocks .info-blocks-in {
	padding: 0 10px;
	overflow: hidden;
}

.info-blocks .info-blocks-in h3 {
	color: #555;
	font-size: 20px;
	line-height: 28px;
	margin: 0px;
}

.info-blocks .info-blocks-in p {
	font-size: 12px;
}



/* CARD NOTÍCIAS */

.card {
	position: relative;
	width: 300px;
	height: 200px;
	background-color: #f2f2f2;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	perspective: 1000px;
	box-shadow: 0 0 0 5px #ffffff80;
	transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
	width: 100%;
	fill: #333;
	transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #f2f2f2;
	transform: rotateX(-90deg);
	transform-origin: bottom;
	transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
	transform: rotateX(0deg);
}

.card__title {
	margin: 0;
	font-size: 24px;
	color: #333;
	font-weight: 700;
}

.card:hover img {
	scale: 0;
}

.card__description {
	margin: 10px 0 0;
	font-size: 14px;
	color: #777;
	line-height: 1.4;
}

.news {
	margin-bottom: 0.5rem;
}


/* RODAPÉ */
footer {
	margin-top: -50%;
}

.container-footer {
	padding: 0 20px 0 20px;
	position: relative;
	height: 8rem;
	background-color: #0d6efd;
}

.footer-bg-end {
	position: relative;
	display: flex;
	margin-bottom: -50px;
	height: 1rem;
	background-color: #0c2e5c;
}

.img-logo-about {
	width: 35rem;
}


.inner-headline {
	background: #1245b1;
	margin-top: 5rem;
	height: 7.5rem;
}


.pageTitle {
	color: #fff;
	margin-top: 3rem;
	display: inline-block;
}

.panel {
	margin-bottom: 18px;
	background-color: #F4F4F4;
	border: 1px solid transparent;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.card2 {
	position: relative;
	margin-top: 2.5rem;
	width: 100%;
	min-width: 20%;
	height: 28rem;
	border-radius: 14px;
	z-index: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 1rem 1rem 3rem #bebebe;
	;
}

.bg {
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;
	padding-bottom: 5%;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(255, 255, 255, .95);
	backdrop-filter: blur(24px);
	border-radius: 10px;
	overflow: hidden;
}

.section-gray {
	background-color: #f3f3f3;
	padding: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.section-white {
	background-color: #fff;
	padding: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;

}

.mv-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.mv-container .mv-box {
	flex:  1 1 30rem;
	background-color: #fff;
	padding: 2rem 2rem 2rem;
	border-radius: 2rem;
	text-align: center;
	border: .2rem solid #fff;
}

.mv-container .mv-box img {
	max-width: 100%;
    max-height: 100%;
}